@import "tailwindcss";

@theme {
  /* Setup colors variables */
  --color-dark-blue: hsl(209, 23%, 22%); /* Dark Mode Elements*/
  --color-very-darkmode-blue: hsl(207, 26%, 17%); /* Dark Mode Background */
  --color-very-dark-blue: hsl(200, 15%, 8%); /* Light Mode Text */
  --color-dark-gray: hsl(0, 0%, 52%); /* Light Mode Input */
  --color-very-light-gray: hsl(0, 0%, 98%); /* Light Mode Background */
  --color-white: #fff; /* Dark Mode Text & Light Mode Elements */
}
input::placeholder {
  @apply text-sm font-light;
}
